*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rockwell;
}
body{
    background-image: url(./landmark-forest-tourism-sunrise-famous-ancient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
table, tr, td{
    border: 1px solid red;
    color: white;
    font-weight: 900;
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
    text-shadow: 2px 1px black;
    background-color: rgb(107, 128, 0);
}
h1{
    font-size: 50px;
    text-shadow: 3px 3px black;
}
.inp{
    width: 16.5% !important;
    margin: 5px !important;
    height: 30px;
    font-size: 15px;
}
@media screen and (max-width: 500px) {
    body{
        background-image: url(./pexels-photo-1586298.jpeg);
        background-repeat: repeat;
        background-size: cover;
        text-align: center;
        
    }
    table, tr, td{
        border: 1px solid red;
        color: white;
        font-weight: 600;
        font-size: 10px;
        margin: auto;
        margin-top: 20px;
        text-shadow: 2px 1px black;
        background-color: rgb(107, 128, 0);
    }
    h1{
        font-size: 30px;
        text-shadow: 3px 3px black;
    }
    .inp{
        width: 40% !important;
        margin: 5px !important;
        height: 30px;
        font-size: 15px;
    }
    button{
        width: 150px;
        height: 40px;
        color: white;
        font-weight: 700;
        font-size: 12px;
        margin: 5px;
    }
}